{% extends 'base.html' %}
{% block content %}
<div   class="container card">
    <div id="landing-card" class="content flex-column std-gap">
        <p id="intro-text">
            The Client Management
            <br>
            Platform
            <br>
            to grow your business
        </p>
        <p id="subtext">
            The Client Credit Management System assists growing
            <br>
             businesses to understand their customers.
        </p>
        <div class="flex flex-group std-gap">
            <a href="{% url 'register' %}" class="button">Sign Up</a>
            <a href="{% url 'login' %}" class="button">Login</a>

        </div>
     
    </div>
</div>
{% endblock %}